

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #e0e0e0, #b3b3ff);
    margin: auto;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

.footer-about {
    max-width: 300px;
    margin-left: 35px;
}

.footer-about h3 {
    font-style: italic;
}

.footer-about p {
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    margin-right: 10px;
    display: inline-block;
}

.footer-socials img {
    width: 22px;
    height: 20px;
}

.footer-links {
    margin-left: 140px;
}

.footer-links,
.footer-community,
.footer-contact {
    flex: 1;
    min-width: 150px;
}

.footer-links h4,
.footer-community h4,
.footer-contact h4 {
    font-style: italic;
    margin-bottom: 10px;
}

.footer-links ul,
.footer-community ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-community ul li {
    margin-bottom: 5px;
}

.footer-links ul li a,
.footer-community ul li a {
    text-decoration: none;
    color: #333;
}

.footer-contact p {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.footer-contact img {
    width: 16px;
    margin-right: 8px;
}

.footer-bottom {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
}
